<ion-header>
  <ion-toolbar color="primary">
    <div class="ion-text-center">
      <ion-title>{{routeType | titlecase}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="routeType == 'sign up'">
    <form [formGroup]="registerForm" autocomplete="off">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>
      <ion-button class="m-10" (click)="save('register')">Save</ion-button>
    </form>
  </div>

  <div *ngIf="routeType == 'sign in'">
    <form [formGroup]="loginForm" autocomplete="off">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>
      <ion-button class="m-10" (click)="save('login')">Save</ion-button>
    </form>
  </div>
</ion-content>